{%  extends "home.html" %}
{% load widget_tweaks %}

{% block content %}
    <div class="well well-sm col-lg-8">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Project Info!</div>
                {% comment %}
                <form action="" class="form-signin" method="post" accept-charset="utf-8" name = "register">
                    <table>
                        <tr><td>Name</td><td><input class="form-control" type="text" placeholder="Project" name="name" required></td></tr>
                        <tr><td>Sponsor Organization</td><td><select name="sponsor"></select></td></tr>
                        <tr><td>Scale</td><td><input class="form-control" type="text" placeholder="Where is this project located" name="scale"required></td></tr>
                        <tr><td>Status</td><td><select></select></td></tr>
                        <tr><td>Tag line</td><td><input class="form-control" type="text" placeholder="What's your organization's motto" name="tagline"  required></td></tr>
                        <tr><td>Start Date</td><td><input class="form-control" type="date" placeholder="When did this project begin?" name="sdate" required></td></tr>
                        <tr><td>End Date</td><td><input class="form-control" type="date" placeholder="When is it's projected finish?" name="edate" required></td></tr>

                        <tr><td>Website</td><td><input class="form-control" type="url" placeholder="What's your website?" name="website"required></td></tr>
                        <tr><td>Short Description</td><td><input class="form-control" type="text" placeholder="Abbreviated Description" name="short"required></td></tr>

                    </table>{% endcomment %}

                <form method="post">{% csrf_token %}
                    <table class="table">
                        {% for field in form %}
                            {% ifnotequal field.label "Description" %}
                                {% ifnotequal field.label "Start date" %}
                                    {% ifnotequal field.label "End date" %}
                                        {% ifnotequal field.label "Short description" %}


                                            <div class="fieldWrapper">
                                                <tr>
                                                    <td><b>{{ field.label }}</b></td>
                                                    <td> {% render_field field class+="input-sm" style+="width: 100%" %}</td>
                                                    <td>{{ field.errors }}
                                                    </td>
                                                </tr>
                                            </div>
                                        {% endifnotequal %}
                                    {% endifnotequal %}
                                {% endifnotequal %}

                            {% endifnotequal %}


                        {% endfor %}

                    </table>

            </div>

            <div class="panel panel-default" style="">
                <div class="panel-heading">Project Time Frame</div>
                <table class="table">
                    <div class="fieldWrapper">
                        <tr>
                            <td><b>{{ form.start_date.label }}</b></td>
                            <td>
                                {% render_field form.start_date class+="input-sm" type="date" style+="width: 100%" %}</td>
                            <td>{{ form.start_date.errors }}
                            </td>
                        </tr>
                    </div>
                    <div class="fieldWrapper">
                        <tr>
                            <td><b>{{ form.end_date.label }}</b></td>
                            <td>
                                {% render_field form.end_date class+="input-sm" type="date" style+="width: 100%" %}</td>
                            <td>{{ form.end_date.errors }}
                            </td>
                        </tr>
                </table>
            </div>


        </div>
        <div class="col-lg-6">

            <div class="panel panel-default" style="">
                <div class="panel-heading">Abbreviated Project Description?</div>
                <table class="table">
                    <tr>
                        <td>
                            {% render_field form.short_description class+="input" style+="width: 100%" rows="3" %}
                        </td>
                        <td>{{ field.errors }}
                        </td>
                    </tr>


                </table>
            </div>


            <div class="panel panel-default" style="">
                <div class="panel-heading">What is your project? In detail...</div>
                <table class="table">
                    <tr>
                        <td>
                            {% render_field form.description class+="input" style+="width: 100%" rows="7" %}
                        </td>
                        <td>{{ field.errors }}
                        </td>
                    </tr>


                </table>
            </div>
        </div>
        <div class="col-lg-6">
            {% csrf_token %}
            <button class="btn-lg btn-block btn-success" type="submit">Create!</button>
            </form>
        </div>
    </div>


{%  endblock %}