{%  extends "base.html" %}

{% load widget_tweaks %}

{% block left_side_bar %}
    <div class="col-lg-2 well well-sm" style="height: 85%">
        <div style="padding-bottom: 10px">
            <a href="/profile/{{ org.name }}"><img class="img" src="{{ MEDIA_URL }}{{ org.profile_image.url }}" width="100%"></a>
        </div>

        <div style="padding-bottom: 10px"><a href="/profile/{{ org.name }}"><h3>{{ org.name }}</h3></a></div>

        <div class="personal" style="padding-bottom: 10px">
            <div class="list-group">
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">{{ org.tagline }}</h4>

                    <p class="list-group-item-text"></p>
                </div>

            </div>
        </div>

    </div>

{% endblock %}

{% block content %}
    <div class="col-lg-10">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Project Info!</div>

                <!--Change how errors are alerted and restrict sponsor orgs to those that user has low or high admin priveleges too-->
                <form method="post" enctype="multipart/form-data">{% csrf_token %}
                    <table class="table">
                        {% for field in form %}
                            {% ifnotequal field.label "Description" %}
                                {% ifnotequal field.label "Start date" %}
                                    {% ifnotequal field.label "End date" %}
                                        {% ifnotequal field.label "Short description" %}
                                            <div class="fieldWrapper">
                                                <tr>
                                                    <td><b>{{ field.label }}</b></td>
                                                    <td> {% render_field field class+="input-sm" style+="width: 100%" %}</td>
                                                    {% if field.errors %}
                                                        <td>{{ field.errors }}
                                                        </td>
                                                    {% endif %}
                                                </tr>
                                            </div>
                                        {% endifnotequal %}
                                    {% endifnotequal %}
                                {% endifnotequal %}
                            {% endifnotequal %}
                        {% endfor %}
                    </table>
            </div>

            <div class="panel panel-default" style="">
                <div class="panel-heading">Project Time Frame</div>
                <table class="table">
                    <div class="fieldWrapper">
                        <tr>
                            <td><b>{{ form.start_date.label }}</b></td>
                            <td>
                                {% render_field form.start_date class+="input-sm" type="date" style+="width: 100%" %}</td>
                            {% if form.start_date.errors %}
                                <td>{{ form.start_date.errors }}
                                </td>
                            {% endif %}
                        </tr>
                    </div>
                    <div class="fieldWrapper">
                        <tr>
                            <td><b>{{ form.end_date.label }}</b></td>
                            <td>
                                {% render_field form.end_date class+="input-sm" type="date" style+="width: 100%" %}</td>
                            {% if form.end_date.errors %}
                                <td>{{ form.end_date.errors }}
                                </td>
                            {% endif %}
                        </tr>
                    </div>
                </table>

            </div>


        </div>
        <div class="col-lg-6">

            <div class="panel panel-default">
                <div class="panel-heading">Abbreviated Project Description?</div>
                <table class="table">
                    <tr>
                        <td>
                            {% render_field form.short_description class+="input-sm" style+="width: 100%" rows="5" placeholder="Please provide an abbreviated description of your organization in 300 characters or less"%}
                        </td>
                    </tr>
                    {% if form.short_description.errors %}
                        <tr>
                            {{ form.short_description.errors }}
                        </tr>
                    {% endif %}

                </table>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">What is your project? In detail...</div>
                <table class="table">
                    <tr>
                        <td>
                            {% render_field form.description class+="input-sm" style+="width: 100%" rows="10" placeholder="Please explain what your organization does in 2000 characters or less"%}
                        </td>
                    </tr>
                    {% if form.description.errors%}
                        <tr>
                            <td>{{ form.description.errors }}
                            </td>
                        </tr>
                    {% endif %}


                </table>
            </div>
        </div>
        <div class="col-lg-6">
            {% csrf_token %}
            <input type="hidden" name="sponsor_org" value="{{ org }}">
            <button class="btn-lg btn-block btn-success" type="submit">Create!</button>
            </form>
        </div>
    </div>


{%  endblock %}