{% extends "base.html" %}

{% block left_side_bar %}


    <div class="col-lg-2">
        <div style="padding-bottom: 10px">
            <h3><img class="img-circle"
                     src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=50"
                     alt="User Pic"> {{ user.first_name }}</h3>
        </div>

        <div class="personal">
            <div class="list-group">
                <li  class="list-group-item">
                    <h4 class="list-group-item-heading">Email</h4>
                    <p class="list-group-item-text">{{ user.email }}</p>
                </li>
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">Cell Number</h4>
                    <p class="list-group-item-text">{{ user.username }}</p>
                </li>
            </div>
        </div>



        <div class="col-lg-12" style="padding-bottom: 10px; text-align: right">

            <a href="{% url "register_org" %}" class="btn btn-danger" type="button"
               data-toggle="tooltip"
               data-original-title="Edit this user">Register Organization</a>
        </div>



        <div class="col-lg-12" style="padding-bottom: 10px; text-align: right">

            <a href="{% url "register_community" %}" class="btn btn-danger" type="button"
               data-toggle="tooltip"
               data-original-title="Register">Register Community</a>
        </div>
    </div>

{% endblock %}

{% block content %}
    <div class="col-lg-8">
        <div class="col-lg-12" >
            <div class="panel-heading"><h3>Post Feed</h3></div>
            <div class="panel-body" style="overflow: auto; max-height: 90%">
                {% for post in feed|slice:":40" reversed%}


                    <div class="col-lg-12 well well-sm container">

                        <div class="col-lg-2" style="text-align: center">

                            <div class="col-lg-12" style="text-align: center"><a href="{{ post.content_object.profile_url }}#{{ post.id }}">{{ post.content_object.name }}</a></div>
                            <div class="col-lg-12"><img src="{{ MEDIA_URL }}{{ post.content_object.profile_image.url }}" height="150px" width="150px"/></div>

                        </div>

                        <div class="col-lg-10">
                            <div class="col-lg-12">
                                {{ post.text }}<br>
                                <b>{{ post.user.get_full_name }}<br>
                                    {{ post.timestamp }}<br>
                                    {{post.comments.all.count }} comment{{  post.comments.all.count|pluralize }}</b><br><br>

                                Most recent comment:<br><br>


                            </div>
                            <div class="col-lg-11 col-lg-offset-1 well well-sm">
                                {% with post.comments.first as comment %}
                                    {{ comment.text }}<br>
                                    <b>{{ comment.user.get_full_name }}<br>
                                    {{ comment.timestamp }}<br></b>
                                {% endwith %}
                            </div>
                        </div>

                    </div>
                {% empty %}
                    Sorry, there are no recent updates on any of your projects.
                {% endfor %}
            </div>
        </div>


    </div>
{% endblock %}



{% block right_side_bar %}
    <div class="col-lg-2">
        <div class="col-lg-12" style="padding-bottom: 10px">
            <h3>Organizations</h3>

            <div class="list-group">
                {% for org in user.organization_set.all|slice:":4" %}
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading"><a href="/organization/{{ org.name }}/">{{ org.name }}</a></h4>
                        <p class="list-group-item-text">{{ org.tagline }}</p>
                    </li>
                    {% if forloop.revcounter0 == 0 %}
                        <li class="list-group-item">
                            Displaying {{ forloop.counter }} of {{ user.organization_set.all.count }}
                        </li>
                    {% endif %}

                {% endfor %}

                <div class="pull-right">
                    <a href="{% url "user_org_list" %}">Display all of your organizations</a>
                </div>

            </div>
        </div>
        <div class="col-lg-12" style="padding-bottom: 20px">
            <h3>Projects </h3>
            <div class="list-group">
                {% for proj in  user.project_set.all%}
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">
                            <a href="/project/{{ proj.name }}">
                                {{ proj.name }}</a></h4>

                        <p class="list-group-item-text">
                            <a href="/organization/{{ proj.sponsor_org.name }}/">
                                {{ proj.sponsor_org.name }}</a></p>
                    </li>

                    {% if forloop.revcounter0 == 0 %}
                        <li class="list-group-item">
                            Displaying {{ forloop.counter }} of {{ user.organization_set.all.count }}
                        </li>
                    {% endif %}
                {% endfor %}
                <div class="pull-right" style="padding-bottom: 10px">
                    <a href="{% url "user_proj_list" %}">Display all of your projects</a>
                </div>
            </div>

        </div>
        <div class="col-lg-12" style="padding-bottom: 10px; text-align: right">
            <a href="{% url "all_org_list" %}"><button class="btn btn-info">Look through all organizations</button></a>
        </div>

        <div class="col-lg-12" style="padding-bottom: 10px; text-align: right">
            <a href="{% url "all_comm_list" %}"><button class="btn btn-success">Look through all communities</button></a>
        </div>

        <div class="col-lg-12" style="padding-bottom: 10px; text-align: right">
            <a href="{% url "all_users" %}"><button class="btn btn-warning">Look through all users</button></a>
        </div>



    </div>
{% endblock %}

