{% extends "base.html" %}
<div class="row" id="content" style="padding-left: 10px">

    {% block left_side_bar %}


        <div class="col-lg-2">
            <div style="padding-bottom: 10px">
                <h3> <a href="profile.html"> <img class="img-circle"
                                                  src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=50"
                                                  alt="User Pic"> {{ user.first_name }} </a></h3>
            </div>

            <div class="personal">
                <div class="list-group">
                    <li  class="list-group-item">
                        <h4 class="list-group-item-heading">Email</h4>
                        <p class="list-group-item-text">{{ user.email }}</p>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">Cell Number</h4>
                        <p class="list-group-item-text">{{ user.username }}</p>
                    </li>
                </div>
            </div>

            <div class="personal">
                <h3>Organizations</h3>
                <div class="list-group">
                    {% for org in  user.organization_set.all%}
                        <li class="list-group-item">
                            <h4 class="list-group-item-heading"><a href="/profile/{{ org.name }}/">{{ org.name }}</a></h4>
                            <p class="list-group-item-text">{{ org.tagline }}</p>
                        </li>
                    {% endfor %}
                </div>
                <a href="{% url "register_org" %}" class="btn btn-danger" type="button"
                   data-toggle="tooltip"
                   data-original-title="Edit this user">Register Organization</a>
            </div>
        </div>

    {% endblock %}

    {% block content %}
        <div class="col-lg-8" style="max-height: 85%;overflow: auto">

            {% for org in all_org %}
                <div class="col-lg-12 well well-sm container">

                    <div class="col-lg-2" style="text-align: center">
                        <div>
                            <h4><a href='/profile/{{ org.name }}/'>{{ org.name }}</a></h4>
                        </div>
                        <div>
                            <img src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100">
                        </div>
                    </div>
                    <div class="col-lg-5">

                        <div class="panel panel-default">
                            <!-- Default panel contents -->
                            <div class="panel-heading">Organization Info</div>
                            <table class="table">
                                <tr>
                                    <td>Motto</td>
                                    <td>{{ org.tagline }}</td>
                                </tr>
                                <tr>
                                    <td>When We Started</td>
                                    <td>{{ org.start_date }}</td>
                                </tr>
                                <tr>
                                    <td>Organization website</td>
                                    <td>{{ org.website }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="panel panel-default">

                            <div class="panel-heading">
                                Description
                            </div>
                            {{ org.short_description }}
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    {% endblock %}



    {% block right_side_bar %}
        <div class="col-lg-2">
            <h3> Your Projects </h3>
            <div class="project">
                <div class="list-group">
                    {% for proj in  user.project_set.all%}
                        <li class="list-group-item">
                            <h4 class="list-group-item-heading">{{ proj.name }}</h4>

                            <p class="list-group-item-text">{{ proj.sponsor_org.name }}</p>
                        </li>
                    {% endfor %}
                </div>
            </div>
            <a href="/home/createProject" class="btn btn-danger" type="button"
               data-toggle="tooltip"
               data-original-title="Edit this user">New Project</a>
        </div>
    {% endblock %}
</div><!-- /.row -->

