{% extends "base.html" %}
{% load organization_tags %}
{% load project_tags %}
{% load widget_tweaks %}

{% block left_side_bar %}


    <div class="col-lg-3 well well-sm" style="height: 90%">
        <h3>Inboxes</h3>


        <!-- May have to activate javascript, look at bootstrap docs if problem-->
        <ul id="profile" class="nav nav-pills" style="padding-bottom: 10px">
            <li class="active"><a href="#{{ user.first_name }}" data-toggle="tab">{{ user.first_name }}</a></li>
            {% for profile in admin_profiles %}
                <li><a href="#{{ profile.name }}" data-toggle="tab">{{profile.name}}</a></li>
            {% endfor %}

        </ul>



        <div id="InboxTabContent" class="tab-content" style="max-height: 100%;overflow: auto">
            <div class="tab-pane fade active in" id="{{ user.first_name }}" data-spy="scroll" data-target=".posts">
                <div class="col-lg-12" style="padding-bottom: 20px">
                    <h3>Personal Inbox </h3>
                    <div class="col-lg-12 list-group">
                        {% for convo in sender_convos.all %}
                                    <a href="/home/inbox{{ convo.receiver.profile_url }}{{ convo.user.pk }}" class="list-group-item">
                                        <li class="" style="list-style-type: none;">
                                            <div class="row">
                                                <div class="col-lg-2" >
                                                    <img class="img" src="http://placehold.it/50x50" width="100%">
                                                </div>
                                                <div class="col-lg-10">
                                                    <p style="margin-bottom: 0"><strong>{{ convo.user.get_full_name }}</strong><small class="pull-right">{{ message.timestamp }}</small></p>
                                                    <p>{{ message.text }}</p>
                                                </div>
                                            </div>
                                        </li></a>
                               {% endfor %}
                    </div>
                </div>
            </div>
            {% for profile in admin_profiles %}
                <div class="tab-pane fade" id="{{ profile.name }}">
                    <div class="col-lg-12" style="padding-bottom: 20px">
                        <h3>{{ profile.name }}'s Inbox </h3>
                        <div class="col-lg-12 list-group">
                            <ul class="nav nav-tabs nav-stacked">
                                {% for convo in profile.conversations.all %}
                                    <a href="/home/inbox{{ profile.profile_url }}{{ convo.user.pk }}" class="list-group-item">
                                        <li class="" style="list-style-type: none;">
                                            <div class="row">
                                                <div class="col-lg-2" >
                                                    <img class="img" src="http://placehold.it/50x50" width="100%">
                                                </div>
                                                <div class="col-lg-10">
                                                    <p style="margin-bottom: 0"><strong>{{ convo.user.get_full_name }}</strong><small class="pull-right">{{ message.timestamp }}</small></p>
                                                    <p>{{ message.text }}</p>
                                                </div>
                                            </div>
                                        </li></a>
                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}






        </div>
    </div>

    </div>
    </div>
{% endblock %}

{% block content %}

    <div id="conversation" class="col-lg-8" style = "height: 80%">
        <div><h3 style="text-align: center"></h3></div>
        <div class="container col-lg-12" style= "max-height: 90%; margin-bottom:20px; overflow: auto" id="messages">
            {% for message in conversation %}

                {% if  user == message.sender %}
                    <div id="message" class="row">
                        <div class="col-lg-10">
                            <strong class="pull-right">{{ message.sender.get_full_name }}</strong><br>
                            <p class="pull-left" style="margin-bottom: 2px;text-align: right">{{ message.text }}</p>
                            <p class="pull-right" style="font-size:75%; margin-bottom:20px">{{ message.timestamp }}</p>
                        </div>
                        <div class="col-lg-1">
                            <img class="img" src=http://placehold.it/260x180" width="100%">
                        </div>
                    </div>
                {% else %}
                    <div id="message" class="row">
                        <div class="col-lg-1">
                            <!-- change image to org/user who made the post! -->
                            <img class="img" src=http://placehold.it/260x180" width="100%">
                        </div>

                        <div class="col-lg-10">
                            <strong class="pull-left">{{ message.sender.get_full_name }}</strong><br>
                            <p class="pull-right" style="margin-bottom: 2px;">{{ message.text }}</p>
                            <p class= "pull-left" style="font-size:75%; margin-bottom:20px">{{ message.timestamp }}</p>

                        </div>
                    </div>
                {% endif %}
            {% endfor %}


        </div>

        <div class="col-lg-12 well well-sm">
            <div class="row">
                <div class="col-lg-2">
                    <img class="img" src="" width="100%">
                </div>
                <div class="col-lg-9">
                    <form method="post" name="message_form">
                        <input type="hidden" name="type" value="message"/>
                        {% render_field message_form.text class="input-sm" style="width: 80%" rows="3"%}
                        {%  csrf_token %}
                        <button type="submit" class="btn btn-primary pull-right">Post New Message</button>
                    </form>
                </div>
            </div>
        </div>


    </div>

    </div>

{% endblock %}