{% extends "base.html" %}
{% load organization_tags %}
{%  load widget_tweaks %}


{% block left_side_bar %}

    <div class="col-lg-2 well well-sm" style="height: 85%">
        <div style="padding-bottom: 10px">
            <img class="img" src="{{ MEDIA_URL }}{{ org.profile_image.url }}" width="100%">
        </div>

        <div style="padding-bottom: 10px"><h3>{{ org.name }}</h3></div>

        <div class="personal" style="padding-bottom: 10px">
            <div class="list-group">
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">{{ org.tagline }}</h4>

                    <p class="list-group-item-text"></p>
                </div>

            </div>
        </div>
        {% has_perm user 'add_member' org as member%}
        {% if not member%}
            <div class="list-group">
                <div class="list-group-item">
                    Want to be a member of {{ org.name }}?
                </div>
                <div class="list-group-item">
                    <form method="post" name="add_user">
                        <input type="hidden" name="type" value="add_user"/>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success btn-block">Click to join! <span
                                class="glyphicon glyphicon-plus"></span></button>
                    </form>
                </div>
            </div>
        {% endif %}

        {% has_perm user 'create_proj' org as create_proj%}
        {% if create_proj%}
           <div>

        <a href="/{{ org.name }}/create_project/" class="btn btn-danger" type="button"
               data-toggle="tooltip"
               data-original-title="Edit this user">Create New Project?</a>

            </div>
        {% endif %}

    </div>

{% endblock %}
{% block content %}
    <div class="col-lg-10" style="height: 85%">

    <div>
    <!-- May have to activate javascript, look at bootstrap docs if problem-->
    <ul id="profile" class="nav nav-pills" style="padding-bottom: 10px">
        <li class="active"><a href="#info" data-toggle="tab">Info</a></li>
        <li><a href="#images" data-toggle="tab">Images</a></li>
        <li><a href="#projects" data-toggle="tab">Projects</a></li>
        <li><a href="#members" data-toggle="tab">Members</a></li>

        {% has_perm user 'edit_org' org as check_low_admin %}
        {% if check_low_admin %}
            <li><a href="#pref" data-toggle="tab">Preferences</a></li>
        {% endif %}

    </ul>

    <div id="profileTabContent" class="tab-content" style="max-height: 90%;overflow: auto">
    <div class="tab-pane fade active in" id="info">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">{{ org.name }}</div>

                <!-- Table -->
                <table class="table">
                    <tr>
                        <td>Motto</td>
                        <td>{{ org.tagline }}</td>
                    </tr>
                    <tr>
                        <td>When we started</td>
                        <td>{{ org.start_date }}</td>
                    </tr>
                    <tr>
                        <td>Our Homepage</td>
                        <td><p>{{ org.website }}</p></td>
                    </tr>

                </table>

            </div>
        </div>
        <div class="col-lg-6">

            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">What is {{ org.name }}</div>
                <div class="panel-body">

                    <p>{{ org.description }}</p>

                </div>

            </div>
        </div>

    </div>


    <div class="tab-pane fade" id="images">
        <div class="col-lg-12 container">
            <div class="col-lg-5 well" style="padding-bottom: 10px">
                <form method="post" name="image_upload" enctype="multipart/form-data">
                    <input type="hidden" name="type" value="upload_image" >
                    {{ image_form }}
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary" value="Upload Image!">
                </form>
            </div>


        </div>
        <div class="col-lg-12" style="overflow:auto; max-height: 65%">

            {% for entry in org.images.all %}
                <div class="col-lg-3 well well-sm" style="padding-bottom: 10px">
                    <a href="{{ MEDIA_URL }}{{ entry.image.url }}"><img src="{{ MEDIA_URL }}{{ entry.image.url }}" width="100%"/></a>

                    {% has_perm user 'upload_image' org as remove_image%}
                    {% if remove_image %}
                        <div class="col-lg-12" style="padding-top: 10px">
                            <form method="post" name="remove_image">
                                <input type="hidden" name="type" value="remove_image"/>
                                <input type="hidden" name="image" value="{{ entry.pk }}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-block">Delete Image?</button>

                            </form>
                        </div>
                    {% endif %}

                </div>

            {% endfor %}

        </div>

    </div>


    <div class="tab-pane fade" id="projects">
        {% for proj in org.project_set.all %}
            <div class="col-lg-12 well well-sm container">

                <div class="col-lg-2" style="text-align: center">
                    <div>
                        <h4><a href="/profile/{{ org.name }}/{{ proj.name }}/">{{ proj.name }}</a></h4>
                    </div>
                    <div>
                        <img src="{{ MEDIA_URL }}{{ org.profile_image.url }}" width = "100%">
                    </div>
                </div>
                <div class="col-lg-5">

                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Project Info</div>
                        <table class="table">
                            <tr>
                                <td>Motto</td>
                                <td>{{ proj.tagline }}</td>
                            </tr>
                            <tr>
                                <td>When We Started</td>
                                <td>{{ proj.start_date }}</td>
                            </tr>

                            <tr>
                                <td>Status</td>
                                <td>{{ proj.get_status_display }}</td>
                            </tr>
                            <tr>
                                <td>Project website</td>
                                <td>{{ proj.website }}</td>
                            </tr>
                        </table>
                    </div>

                </div>
                <div class="col-lg-5">
                    <div class="panel panel-default">

                        <div class="panel-heading">
                            Description
                        </div>
                        <div class="panel-body">
                            {{ proj.short_description }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="tab-pane fade" id="members">
        <div class="col-lg-4">
            <div class="panel panel-default">

                <div class="panel-heading">Administrative Members</div>
                <table class="table">
                    <tr>
                        <th>Member name</th>
                        {% has_perm user 'make_high_admin' org as check_high_admin %}
                        {% if check_high_admin %}

                            <th colspan="2">Adjust Permissions</th>
                        {% endif %}
                    </tr>

                    {% for member in high_admin %}

                        <tr>
                            <td>{{ member.get_full_name }}</td>
                            {% if check_high_admin %}

                                <!-- <td><a data-id="" class="open-removeModal btn btn-danger"
                                        data-toggle="" href="#removeModal"><span class ="glyphicon glyphicon-remove"></span></a></td>-->
                                <td>

                                    <form method="post" accept-charset="utf-8" name="downgrade_high_admin" onsubmit="return confirm('Are you sure you want to revoke {{ member.get_full_name}}s privileges on {{ org.name }}?');">
                                        <input type="hidden" name="user" value="{{ member.username }}"/>
                                        <input type="hidden" name="type" value="downgrade_high_admin"/>

                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-warning"><span
                                                class="glyphicon glyphicon-thumbs-down"></span></button>
                                    </form>
                                </td>
                                <td>
                                <form method="post" accept-charset="utf-8" name="remove" onsubmit="return confirm('Are you sure you want to remove {{ member.get_full_name }} from {{ org.name }}?');">
                                    <input type="hidden" name="user" value="{{ member.username }}"/>
                                    <input type="hidden" name="type" value="remove"/>
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger"><span
                                            class="glyphicon glyphicon-remove"></span></button>

                                </form>
                            </td>
                            {% endif %}
                        </tr>


                    {% empty %}
                        <tr><td colspan="3">Sorry, there are no admins currently.</tr>
                    {% endfor %}


                </table>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="panel panel-default">

                <div class="panel-heading">Moderators</div>
                <table class="table">
                    <tr>
                        <th>Member name</th>
                        {% has_perm user 'make_low_admin' org as check_low_admin %}

                        {% if check_high_admin %}



                        {% endif %}
                        {% if check_low_admin %}

                            <th colspan="3">Adjust Permissions</th>
                        {% endif %}
                    </tr>

                    {% for member in low_admin %}

                        <tr>
                            <td>{{ member.get_full_name }}</td>

                            {% if check_high_admin %}
                                <td>
                                    <form method="post" accept-charset="utf-8" name="make_high_admin" onsubmit="return confirm('Are you sure you want to revoke {{ member.get_full_name}}s privileges on {{ org.name }}?');">
                                        <input type="hidden" name="user" value="{{ member.username }}"/>
                                        <input type="hidden" name="type" value="make_high_admin"/>

                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-success"><span
                                                class="glyphicon glyphicon-thumbs-up"></span></button>
                                    </form>
                                </td>
                            {% endif %}
                            {% if check_low_admin %}

                                <td>
                                    <form method="post" accept-charset="utf-8" name="downgrade_low_admin" onsubmit="return confirm('Are you sure you want to revoke {{ member.get_full_name}}s privileges on {{ org.name }}?');">
                                        <input type="hidden" name="user" value="{{ member.username }}"/>
                                        <input type="hidden" name="type" value="downgrade_low_admin"/>

                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-warning"><span
                                                class="glyphicon glyphicon-thumbs-down"></span></button>
                                    </form>
                                </td>
                                <td>
                                    <form method="post" accept-charset="utf-8" name="remove" onsubmit="return confirm('Are you sure you want to remove {{ member.get_full_name }} from {{ org.name }}?');">
                                        <input type="hidden" name="user" value="{{ member.username }}"/>
                                        <input type="hidden" name="type" value="remove"/>
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger"><span
                                                class="glyphicon glyphicon-remove"></span></button>

                                    </form>
                                </td>
                            {% endif %}
                        </tr>


                    {% empty %}
                        <tr><td colspan="4">Sorry, there are no moderators currently.</td></tr>
                    {% endfor %}


                </table>
            </div>
        </div>
        <div class="col-lg-4">

            <div class="panel panel-default">
                <div class="panel-heading">Members</div>
                <table class="table">
                    <tr>
                        <th>Member name</th>


                        {% if check_low_admin %}

                            <th colspan="2">Adjust Permissions</th>

                        {% endif %}
                    </tr>
                    {% for member in members %}
                        <tr>
                            <td>{{ member.get_full_name }}</td>
                            {% if check_low_admin %}

                                <!-- <td><a data-id="" class="open-removeModal btn btn-danger"
                                        data-toggle="" href="#removeModal"><span class ="glyphicon glyphicon-remove"></span></a></td>-->
                                <td>
                                    <form method="post" accept-charset="utf-8" name="make_low_admin" onsubmit="return confirm('Are you sure you want to give {{ member.get_full_name}}s admin privileges on {{ org.name }}?');">
                                        <input type="hidden" name="user" value="{{ member.username }}"/>
                                        <input type="hidden" name="type" value="make_low_admin"/>

                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-succes"><span
                                                class="glyphicon glyphicon-thumbs-up"></span></button>
                                    </form>
                                </td>

                                <td>
                                    <form method="post" accept-charset="utf-8" name="remove" onsubmit="return confirm('Are you sure you want to remove {{ member.get_full_name}} from {{ org.name }}?');">
                                        <input type="hidden" name="user" value="{{ member.username }}"/>
                                        <input type="hidden" name="type" value="remove"/>

                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger"><span
                                                class="glyphicon glyphicon-remove"></span></button>
                                    </form>
                                </td>
                            {% endif %}
                        </tr>

                        {% empty %}<!-- Doesn't work because members isn't actually empty, we just filter results.  Look at generating admin and regular member list in view-->
                        <tr><td colspan="3">Sorry, there are no regular members yet.</tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="pref">


        <div class="col-lg-6">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Organization Info</div>
                <!-- Table -->
                <table class="table table-responsive">
                    <form method="post" name="change_pref" enctype="multipart/form-data" onsubmit="return confirm('Are you sure you want to save these changes?');">
                        <input type="hidden" name="type" value="change_pref"/>
                        <table class="table"> {% for field in mod_form %}
                            {% ifnotequal field.label "Description" %}
                                {% ifnotequal field.label "Short description" %}


                                    <div class="fieldWrapper">
                                        <tr>

                                            <td><b>{{ field.label }}</b></td>

                                            <td>
                                                {% ifnotequal field.label "Start date" %}
                                                    {% render_field field class+="input-sm" style+="width: 100%" %}
                                                {% else %}
                                                    {% render_field mod_form.start_date class+="input-sm" type="date" style+="width: 100%" %}
                                                {% endifnotequal %}

                                            </td>
                                            {% if field.errors %}
                                                <td>{{ field.errors }}
                                                </td>
                                            {% endif %}
                                        </tr>
                                    </div>
                                {% endifnotequal %}

                            {% endifnotequal %}
                        {% endfor %}</table>
                        {% csrf_token %}


                </table>


            </div>


            <div class="panel panel-default">
                <div class="panel-heading">Abbreviated Description</div>
                <table class="table">
                    <tr>
                        <td>
                            {% render_field mod_form.short_description class+="input-sm" style+="width: 100%" rows="5" placeholder="Please explain what your organization does in 300 characters or less"%}
                        </td>
                    </tr>
                    {% if mod_form.description.errors%}
                        <tr>
                            <td>{{ mod_form.description.errors }}
                            </td>
                        </tr>
                    {% endif %}


                </table>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">What is your project? In detail...</div>
                <table class="table">
                    <tr>
                        <td>
                            {% render_field mod_form.description class+="input-sm" style+="width: 100%" rows="8" placeholder="Please explain what your organization does in 2000 characters or less"%}
                        </td>
                    </tr>
                    {% if mod_form.description.errors%}
                        <tr>
                            <td>{{ mod_form.description.errors }}
                            </td>
                        </tr>
                    {% endif %}


                </table>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="panel">
                {% csrf_token %}
                <button class="btn-lg btn-block btn-success" type="submit">Save Changes!</button>
                </form>
            </div>
        </div>

        {% has_perm user 'remove_org' org as check_high_admin%}
        {% if check_high_admin %}
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Delete your organization?</div>

                    <form method="post" name="remove_org" onsubmit="return confirm('Are you sure you want to remove your project?');">
                        <input type="hidden" name="type" value="remove_org"/>
                        {% csrf_token %}
                        <br>
                        <div class="wrapper" style="text-align: center">
                            <button type="submit" class="btn btn-danger" style="width: 80%">Remove {{ org.name }}</button>
                        </div>
                    </form>

                </div>
            </div>
        {% endif %}
    </div>


    </div>
    </div>
    </div>
    </div>

    <div class="modal" id="{{ member.pk }}" tabindex="-1" role="form" aria-labelledby="loginModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Remove user from organization?</h4>
                </div>
                <div class="modal-body">

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn  btn-danger">Remove</button>
                    <button type="button" class="btn" data-dismiss="modal">Cancel</button>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}

<script type="text/javascript">
    $(document).on("click", ".open-removeModal", function (e) {

        e.preventDefault();

        var _self = $(this);

        var user = _self.data('id');
        $("#user").val(user);
        console.log('aahgerh');
        $(_self.attr('href')).modal('show');
    });

</script>


